<ul class="nav">
  <li><a href="/" class="home">pvxrecords</a></li>
  <li><a href="/" class="blog">records</a></li>
  <li><a href="/artists">artists</a></li>
  <li><a href="/history">history</a></li>
  <li><a href="/contact">contact</a></li>
</ul>
