<ul class="nav">
  <li><a href="/" class="home">pvxrecords.com</a></li>
  <li><a href="/releases" class="blog">releases</a></li>
  <li><a href="/bands">bands</a></li>
  <li><a href="/history">history</a></li>
  <li><a href="/contact">contact</a></li>
</ul>
