<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@joe_sepi" />
<meta name="twitter:creator" content="@joe_sepi" />
<meta property="og:url" content="https://pvxrecords.com/" />
<meta property="og:title" content="Pensamplivox" />
<meta property="og:description" content="{%- if description -%}{{ description }}{%- else -%}What began as a home for a band of misfits in Wicker Park, Chicago, grew to house many friends from a larger music circle.{%- endif -%}" />
<meta property="og:image" content='https://pvxrecords.com/card-image/{{ page.url | kebab }}card.png' />
