---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>Pensamplivox</h1>
  <p class="phonetic">
   /pen-samp-liv-ox/
  </p>
  <p>
    That which began as a home for a band of misfits in Wicker Park, Chicago, grew to house many friends from a larger music circle
  </p>
{% endblock %}

{% block content %}

  <h2>Artists</h2>
  {%- for artist in collections.artists -%}

    <h3>{{artist.data.artist}}</h3>

  {%- endfor -%}

{% endblock %}
