---
pageClass: dark-theme theme-black
---

{% extends 'layouts/page.njk' %}

{% block sidebar %}
  <h1>Pensamplivox</h1>
  <p class="phonetic">
   /pen-samp-liv-ox/
  </p>
  <p>
    That which began as a home for a band of misfits in Wicker Park, Chicago, grew to house many friends from a larger music circle
  </p>
{% endblock %}

{% block content %}

  <h2>Records</h2>
  {%- for record in collections.records -%}

    <h3>{{record.data.title}}</h3>
    <dl>
      <dt>artist:</dt>
      <dd>{{record.data.artist}}</dd>

  {%- endfor -%}

{% endblock %}

